<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta name="color-scheme" content="light dark">
  <meta name="theme-color" content="black">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="view-transition" content="same-origin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="darkreader-lock">
  {{- partial "favicon.html" . -}}
  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>

  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer-when-downgrade" />

  <script>
    var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    if(isSafari){ 
      window.addEventListener("pageshow", (event) => {
        if (event.persisted) {
          if((localStorage.getItem("theme")=="dark" && !document.documentElement.hasAttribute("data-dark-mode")) || (localStorage.getItem("theme")!="dark" && document.documentElement.hasAttribute("data-dark-mode"))){
            document.documentElement.style.display = "none";
            document.documentElement.toggleAttribute("data-dark-mode");
            setTimeout(() => {
              document.documentElement.style.display = "block";
            }, 0);
          }
          setTimeout(() => {
            let switcher = document.querySelector(".div_switch input");
            const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
            if (currentTheme) {
                if (currentTheme == 'dark') {
                  switcher.checked = true;
                }
            }
          }, 70);
        }
        if (window.location.hash) {
            setTimeout(function () {
              window.location.href = location.hash;
            }, 300);
        }
      });
    } else {
      window.addEventListener('unload', function(){});
      window.addEventListener('beforeunload', function(){});
      window.addEventListener("pagehide", (e) => {
        if(e.persisted){
          setTimeout(() => {
            location.reload();
          }, 0);
      }});
      window.addEventListener("pageshow", () => {
        if (window.location.hash) {
            setTimeout(function () {
                var hash = window.location.hash;
                window.location.hash = "";
                window.location.hash = hash;
            }, 300);
        }
      }, false);
    }

    if(localStorage.getItem('theme') != null){
      if (localStorage.getItem('theme') === 'dark') {
        document.documentElement.toggleAttribute('data-dark-mode');
      }
    } else {
      localStorage.setItem("theme", "light");
    }
  </script>

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{- partial "style.html" . -}}

  <!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
  {{- partial "custom_head.html" . -}}
</head>

<body>
  {{- partial "toggle.html" . -}}
  <a href="{{ "" | relURL }}" class="title">
    <h2>{{ .Site.Title }}</h2>
  </a>
  <header class="sticky-header">
    {{- partial "header.html" . -}}
  </header>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  <footer>
    {{- partial "footer.html" . -}}
  </footer>

  <!-- A partial to be overwritten by the user.
  Simply place a custom_body.html into
  your local /layouts/partials-directory -->
  {{- partial "custom_body.html" . -}}
</body>

</html>
