<script>

  if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
    document.querySelector('html').style.display = "block";
  }

  document.addEventListener("DOMContentLoaded", () => {

    let switcher = document.querySelector(".div_switch input");
    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
    if (currentTheme) {
        if (currentTheme === 'dark') {
            switcher.checked = true;
        }
    }

    document.querySelector('html').style.display = 'block';

    let div_button = document.getElementById('div_toggle');
    div_button.style.display = 'block';

    /*
    switcher.addEventListener("click", () => {
      if (!localStorage.getItem('dark')) {
        localStorage.setItem('dark', "true");
      } else {
        localStorage.removeItem('dark');
      }
      document.querySelector('html').toggleAttribute('data-dark-mode');
    });
    */

    switcher.addEventListener("change", switch_func, false);

    function switch_func(e) {
      document.documentElement.toggleAttribute('data-dark-mode');
      if (e.target.checked) {
          localStorage.setItem('theme', 'dark');
      }
      else {
          localStorage.setItem('theme', 'light');
      }   
    }
  });

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-170196086-1"></script>
<script>

  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-170196086-1', { 'anonymize_ip': true });

</script>

<noscript>
  <link rel="stylesheet" type="text/css" href="{{ relURL "noscript_style.css" }}" crossorigin="anonymous">
</noscript>
